body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003366; /* Marine blue background */
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

#game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px); /* 6 columns */
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s; /* Smooth transform */
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px; /* Match the card's rounded corners */
}

.card.flipped img {
    display: block;
}

.card.flipped {
    background-color: #fff;
    transform: rotateY(180deg); /* Flip effect */
}
