body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0000ff; /* Fundo azul */
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Cor do texto em branco */
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container {
    margin-right: 20px; /* Espaço entre o logo e a grelha */
}

.logo {
    max-width: 100px;
    height: auto;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px); /* 6 colunas */
    gap: 10px;
    width: 700px; /* Ajustar a largura e altura para caber na grelha */
    height: 700px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* Fundo branco */
    border: 2px solid #000; /* Borda preta */
}

.card {
    width: 100px;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    background-color: #fff;
}
